@model CarDetailViewModelcs
@{
    ViewData["Title"] = Model.Arac.marka.Adi + " " + Model.Arac.Modeli;
}

<section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/Img/Cars/@Model.Arac.Resim1" alt="..."></div>
                    <div class="col-md-6">
                        <div class="small mb-1"></div>
                        <h1 class="display-5 fw-bolder">@ViewData["Title"]</h1>
                        <div class="fs-5 ">
                    <span>Fiyat: @Model.Arac.Fiyati ₺</span>
                        </div>
                        <div class="fs-5 ">
                    <span>Renk:: @Model.Arac.Renk </span>
                        </div>
                        <div class="fs-5 ">
                            <span>Model: @Model.Arac.ModelYili </span>
                        </div>
                <p class="lead">@Model.Arac.Notlar</p>
                        <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="bi-cart-fill me-1"></i>
                                Bilgi Al
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<partial name="MusteriPV" model="Model.Musteri" />